@page
@model WebApplication1.Pages.People.EditPersonModel
@{
}

<h1>Edit Person</h1>

<form method="post">

	<input type="hidden" name="id" value="@Model.person.Id" />
	<label>Name</label>
	<input type="text" name="name" />

	<label>Description</label>
	<input type="text" name="Description" />

	<label>Phone</label>
	<input type="text" name="Phone" />

	<button type="submit">Submit</button>
	<a href="/" role="button">Cancel</a>
</form>